layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="general" cwd="/home/blabattiii/Projects" {
		pane split_direction="vertical" {
			pane name="fish" size="60%" 
			pane name="cheatsheets" 
		}
    }
    tab name="FiscalDates" cwd="/home/blabattiii/Projects/vesta/microgrids/FiscalDates" {
		floating_panes {
			pane cwd="/home/blabattiii/Projects/vesta/microgrids/Proforma" name="terminal" {
				x "25%"
				y "25%"
				width "50%"
				height "50%"
			}
		}
		pane split_direction="vertical" {
			pane stacked=true size="60%" {
				pane name="edit" size="60%" focus=true cwd="./" { 
					command "nvim"
					args "src/FiscalDates.jl" "src/FiscalCal445.jl" "src/FiscalCalGregorian.jl" "src/FiscalCalISO.jl" "src/FiscalCalBroadcast.jl" "src/AccountingPeriod.jl" "src/AccountingRange.jl"
				}
				pane cwd="./test" name="testing" {
					command "nvim"
					args "runtests.jl" "test_accountingdates.jl"
				}
				pane cwd="./" name="environment" {
					command "nvim"
					args "layout.kdl" "Makefile" "Makefile.defs" "Project.toml" ".envrc" "startup.jl" ".gitignore"
				}
				pane cwd="./docs" name="documentation" {
					command "nvim"
					args "make.jl" "README.md" "src/index.md"
				}
				pane cwd=".github/workflows" name="cicd" {
					command "nvim"
					args "CI.yml" 
				}
			}
			pane name="julia" command="julia"
		}
    }
}

